{% extends "app.html" %}

{% block content %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="card mb-3 mt-5" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-12">
                        <div class="card-body">
                            <h5 class="card-title">Login</h5>
                            <form action="" method="post">
                                {{ form.hidden_tag() }}
                                <p>
                                    {{ form.username.label }}
                                    {{ form.username(size=32) }}
                                    {% for error in form.username.errors %}
                                    <span style="color:red;">[{{ error }}]</span>
                                    {% endfor %}
                                </p>
                                <p>
                                    {{ form.password.label }}
                                    {{ form.password(size=32) }}
                                    {% for error in form.password.errors %}
                                    <span style="color:red;">[{{ error }}]</span>
                                    {% endfor %}
                                </p>
                                <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                                <p>{{ form.submit() }}</p>
                            </form>
                            <p>¿Nuevo por aquí? <a href="{{ url_for('register') }}">¡Click para registrarte!</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
